/* line 1, ../../sass/_main.scss */
main {
  min-height: 50rem;
}

/* line 1, ../../sass/_footer.scss */
footer {
  height: 10rem;
  background-color: #1399bd;
  font-weight: 777;
}

/* line 6, ../../sass/_footer.scss */
footer p {
  padding-top: 4rem;
  text-align: center;
}

/* line 10, ../../sass/_footer.scss */
footer span {
  color: #fff;
  padding: 0 .5rem;
}
