<ul class="title-area">
  <!-- Title Area -->
  <li class="name">
    <h1><a href="#">Nav</a></h1>
  </li>
  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

<section class="top-bar-section">
  <!-- Left Nav Section -->
  <ul class="left">
    <li class="divider"></li>
    <li><a href="#/view1">View 1</a></li>
    <li class="divider"></li>
    <li><a href="#/view2">View 2</a></li>
    <li class="divider"></li>
    <li><a href="/#">Foo</a></li>
    <li class="divider"></li>
    <li><a href="/#">Bar</a></li>
    <li class="divider"></li>
  </ul>

</section>
